.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
  /*this gives the dimension of slider container*/
  /*these values will make the container as big as the parent div*/
  overflow: hidden;
  /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
}
.swiper-wrapper {
  width: 100vw;
  height: 40rem;
  background-color: #000c2d;
  position: relative;
  // display: flex;
  // justify-content: center;
}
.swiper-slide.slide {
    // width: 31% !important;
//   width: 50% !important;
  height: 100%;
  /*this one holds the dimension of each slides and can be changed according to the user wish*/
}
.slide {
}
.swiper {
  width: 100%;
  padding: 0 !important;
  // height: 50%;
  .image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
.swiper-wrapper {
//   margin-left: -27%;
}
.swiper-button-prev {
  // margin: 0 auto !important;
  // left: 35% !important;
}
.swiper-button-next {
  // margin: 0 auto !important;
  // right: 35% !important;
}
// .swiper-slide-prev,
// .swiper-slide-next {
//   -webkit-backdrop-filter: blur(10px);
//   backdrop-filter: blur(10px);
//   filter: brightness(50%);
// }
.swiper-slide{
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  filter: brightness(50%);
}
.swiper-slide-active{
    -webkit-backdrop-filter: none;
  backdrop-filter: none;
  filter: none;
//   width: 60% !important;
//   justify-self: center;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.Text {
  margin-top: 15%;
  h1 {
    font-size: 2.5rem;
    color: #20de86;
  }
  p {
    font-size: 1.5rem;
    color: white;
  }
}
.pagination {
  display: flex;
  justify-content: space-between;
  width: 7%;
  position: absolute;
//   top: 60%;
//   left: 26%;
top: 47%;
  left: 33%;
  justify-self: center;
  // top: 50%;
}
@media (max-width: 500px) {
  .Text {
    margin-top: 55%;
  }
}
@media (max-width: 764px) {
  .pagination {
    display: flex;
    justify-content: space-between;
    width: 20%;
    position: absolute;
    top: 27%;
    left: 25%;
    justify-self: center;
  }
  
}
.Text {
    // margin-top: 20%;
    h1 {
      font-size: 2rem;
      color: #20de86;
    }
    p {
      font-size: 1.3rem;
      color: white;
    }
    .swiper-wrapper {
        width: 100vw;
        height: 30rem;
        background-color: #000c2d;
        position: relative;
        // display: flex;
        // justify-content: center;
      }
  }
