.Button{
    box-sizing: border-box;
    width: 80%;
    height: 5rem;
    background-color: #000c2d;
    color: white;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    padding: 2%;
    border-radius: 5px;
    cursor: pointer;
    span{
        width: 35%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@media(min-width:765px){
    .Button{
        width: 31%;
        justify-self: center;
   
        span{
           
            img{
                
            }
        }
    } 
}