.Hamburger{
    width:40px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    box-sizing: border-box;
    cursor: pointer;
}
.Hamburger div{
    width: 90%;
    height: 3px;
    background-color:#20de86;
    color: black;
    margin-top: 2px;
}

@media(min-width: 765px){
    .Hamburger{
        display: none;
    }
}