.SideDrawer{
    position: fixed;
    width: 200px;
    max-width: 70%;
    height: 100vh;
    left:0;
    top:0;
    z-index: 200;
    background-color:#20de86; 
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
    font-size: 24px;
    
}
.Cancel{
    width:100%;
    display: flex;
    justify-content: flex-end;
    padding: 1%;
    cursor: pointer;
}

.Open{
    transform:translateX(0);
}
.Close{
    transform:translateX(-100%);
}
@media(min-width:765px){
    .SideDrawer{
        display: none
    }
   

}