@font-face {
  font-family: 'RobotoCondensed-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Bold'), url('./fonts/Roboto/RobotoCondensed-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'RobotoCondensed-Regular';
  font-style: normal;
  font-weight: 800;
  src: local('Roboto-Regular'), url('./fonts/Roboto/RobotoCondensed-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'RobotoCondensed-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Light'), url('./fonts/Roboto/RobotoCondensed-Light.ttf') format('ttf');
}


@font-face {
  font-family: 'Rubik-Black';
  font-style: bold;
  font-weight: 900;
  src: local('Rubik-Black'), url('./fonts/Rubik/Rubik-Black.ttf') format('ttf');
}

@font-face {
  font-family: 'Rubik-Regular';
  font-style: normal;
  font-weight: 800;
  src: local('Rubik-Regular'), url('./fonts/Rubik/Rubik-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Rubik-Light';
  font-style: normal;
  font-weight: normal;
  src: local('Rubik-Light'), url('./fonts/Rubik/Rubik-Light.ttf') format('ttf');
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


