.Cardlist{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
@media(min-width: 765px){
    .Cardlist{
        display: flex;
    justify-content: space-between;
        flex-flow: row; 
    }
}